<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Description du Film</title>
</head>
<body>

{% if film %}
    <h1>{{ film.title }}</h1>

    <a href="/ajout_film/{{film.id}}">
        <button type="button">Ajouter le film</button>
    </a>

    <img src="{{ film.poster_path }}" alt="{{ film.title }} Poster">

    <p>ID: {{ film.id }}</p>
    <p>Date de sortie: {{ film.release_date }}</p>
    <p>Vote moyen: {{ film.vote_average }}</p>
    <p>Synopsis: {{ film.overview }}</p>

    <a href="{{ url_for('home') }}">Retour à la page d'accueil</a>
{% else %}
    <p>Le film n'a pas pu être trouvé.</p>
    <a href="{{ url_for('home') }}">Retour à la page d'accueil</a>
{% endif %}

</body>
</html>