{% include 'base_site.html' %}
<body>
        <h1>Bienvenue {{ current_user.name }}</h1>
        <p>Les films populaires du moment</p>
  
        {% if films_populaires %}
            <ul class="film-list">
                {% for film in films_populaires %}
                    <li class="film-list-item" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ film.title }}">
                        <h5>{{ film.title }}</h5>
                        <a href="{{url_for('description_film',film_id=film.id)}}">
                            <img src="https://image.tmdb.org/t/p/w342/{{ film.poster_path }}" alt="{{ film.title }} Poster">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun film disponible pour le moment.</p>
        {% endif %}
    
        <!--
          si je fais par exemple curl https://api.themoviedb.org/3/movie/500/videos?api_key=8770fea03d8b0d550c4b50be1656d5cb. J'obtiens un json, mais c'est la colonne key qui
          donne l'id de la video, j'obtiens la key : RKQIGvULZCI, il me suffit de completer ensuite le lien youtube et j'ai la vidéo en obtenant l'api
          <iframe width="560" height="315" src="https://www.youtube.com/embed/RKQIGvULZCI" frameborder="0" allowfullscreen></iframe>-->
</body>
</html>
