{% include 'base_site.html' %}
<!DOCTYPE html>
<html lang="en">
<body>
{% if films %}
    <p>film(s) correspondant(s) </p>
    <ul class="film-list">
        {% for film in films %}
            <li class="film-list-item">
                <h4>{{ film.title }}</h4>
                <a href="{{url_for('description_film',film_id=film.id)}}">
                <img src="https://image.tmdb.org/t/p/w342/{{ film.poster_path }}" alt="{{ film.title }} Poster">
                </a>
        {% endfor %}
    </ul>
{% else %}
    <p>aucun films trouvés</p>
{% endif %}

</body>
</html>