<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videotheque</title>
</head>
<body>

{% if films %}
    <p>vos films </p>
        {% for film in films %}
            <li>
                <h3>{{ film.title }}</h3>
                <p>ID: {{ film.id }}</p>
                <a href="{{url_for('description_film',film_id=film.id)}}">
                <img src="https://image.tmdb.org/t/p/w342/{{ film.poster_path }}" alt="{{ film.title }} Poster">
                </a>
        {% endfor %}
{% endif %}
</body>
</html>